* {
    margin: 0;
    padding: 0;
}

/* Main page */

body {
    background-color: black;
    margin: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-text {
    display: flex;
    align-items: center;

    h4 {
        border: 2px solid #EDB506;
        border-radius: 5px;
        background-color: #EDB506;
        font-weight: bolder;
        padding: 0.2rem;
        margin-right: 1rem;
        margin-bottom: 1rem;

    }

    h1 {
        color: white;
        font-size: x-large;
        margin-bottom: 1rem;
    }
}

.picture-container {
    display: flex;
    justify-content: end;
    column-gap: 1rem;
    align-self: flex-end;

    p {
        color: white;
        text-align: end;
        font-size: small;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 0.5rem;
}

.config-menu {
    flex-wrap: nowrap;
}

.btn {
    background-color: #383a3e;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #505258;
}

.upload {
    width: 100%;
    padding-block: 4rem;
    border-radius: 10px;
    column-gap: 1rem;
}

.chose {
    width: 100%;
    padding-block: 0.8rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    column-gap: 1rem;
}

.picture-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2A2C31;
    border-radius: 10px;
    row-gap: 0.8rem;
    margin-top: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 7rem;

}

.extraAdjustments {
    width: 90%;
    padding-block: 0.8rem;
    border-radius: 10px;
    margin: auto;
}

.pictures {
    background-color: #2A2C31;
    border-radius: 10px;
}

.select-filetype {
    padding: 0.4rem;
}

.select-order {
    padding: 0.4rem;
}

/* For all dialogs */
dialog {
    border-radius: 15px;
}

/* Dialog navigaton buttons */
.dialog-btn {
    background-color: #D9D9D9;
    width: 120px;
    padding: 0.2rem;
    border: none;
    border-radius: 3px;
}

.pressed-btn {
    background-color: #383A3E;
    color: #FFFFFF;

}

/* Exit button for all dialogs */
.exit-button {
    float: right;
    border: none;
    background-color: #FFFFFF;
}

.exit-button-img {
    width: 12px;
    height: 12px;
}

.exit-button-img:hover {
    background-color: #afb1b4;
}

/* Dialog upload pictures */

#modal-one {
    margin-left: 370px;
    margin-top: 150px;
    border-radius: 0;
}

.picture-Window {
    width: 800px;
    
    
}


/* Dialog Chose pictures */
.modal-content-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    height: 500px;
    padding: 1.5rem;

    p {
        margin-bottom: 1.2rem;
    }

    .photo-container {
        border: 1px solid black;
        padding: 1rem;
        height: 380px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .chose-files {
        background-color: #D9D9D9;
        border: 1px solid black;
        padding-block: 0.8rem;
        padding-inline: 3rem;
        float: right;
    }

    .chose-files:hover {
        background-color: #afb1b4;
    }
}


/* Dialog Crop */
#modal-four {
    width: 750px;
}

.exit-button-crop {
    float: right;
    border: none;
    background-color: #FFFFFF;
    margin-top: 2rem;
    margin-right: 1.6rem;
}

.exit-button-crop-img {
    width: 12px;
    height: 12px;
}

.exit-button-crop-img:hover {
    background-color: #afb1b4;
}

.modal-content-crop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 1.5rem;
    margin-top: 1rem;
}

.menu-in-crop {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding-right: 7rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 4.5rem;
}

.crop-menu {
    display: flex;
    background-color: #D9D9D9;
    border: none;
    padding-block: 0.8rem;
    padding-inline: 0.5rem;
    float: right;
    width: 90%;
    padding-bottom: 1rem;
    padding-block: 0.8rem;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2rem;
}

.active-crop {
    background-color: #383A3E;
    color: #FFFFFF;
}

.btncrop {
    color: #2A2C31;
    color: #FFFFFF;
}

.btncrop:hover {
    background-color: #383A3E;
    color: #FFFFFF;
}

.dropdown-crop {
    display: flex;
    align-items: flex-start;
    margin-right: 1rem;

}

.curtain-sizes {
    padding: 0.5rem;
    margin-right: 0.8rem;
    font-size: x-small;
    width: 125px;
}

.curtain-crop-alternative {
    padding: 0.5rem;
    font-size: x-small;
    width: 125px;
}

p {
    font-size: small;
}

.dimension-wrapper {
    align-items: center;
    margin-bottom: 1rem;
    font-size: small;
    margin-left: 0.3rem;

    span {
        margin-left: 2rem;
    }
}

.dimension-column {
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    margin-top: 1rem;
}

.measurements label {
    color: #52555A;
    font-size: small;
}

label[for="height"] {
    margin-right: 4.2rem;
}

.dimension-column input {
    width: 60px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px 5px;
}

.arrows-img {
    width: 10px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;

}

.crop-three {
    display: flex;
    flex-direction: column;
}

.flower-lake {
    width: 150px;
    align-items: center;
    margin-bottom: 5rem;
    margin-left: 4rem;
    margin-right: 1.9rem;
}

.save-reset-buttons {
display: flex;
justify-content: flex-end;
gap: 0.1rem;

}

.reset {
    background-color: #D9D9D9;
    border: none;
    padding-block: 0.7rem;
    padding-inline: 1.2rem;
    /* float: right; */
    border-radius: 10px;
    flex-direction: row;
    font-size: small;
    white-space: nowrap;
    align-items: end;
    margin-right: 1rem;
}

.save {
    background-color: #EDB506;
    border: none;
    padding-block: 0.7rem;
    padding-inline: 2rem;
    /* float: right; */
    border-radius: 10px;
    flex-direction: row;
    font-size: small;
    align-items: end;
}

/* Dialog rotate */
.modal-five {
    width: 600px;
    height: 500px;
}

.modal-five-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-five-nav {
    display: flex;
    padding: 1.5rem;
}

.rotate-icons {
    width: 20px;
    height: 20px;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.rotate-left {
    border: 1px solid black;
    border-right: none;
}

.select-rotation {
    border-left: none;
}

.rotate-column-two {
    display: flex;
    flex-direction: column;
}